{% load static %}
        <div class="container d-flex align-items-center">
            <h1 class="logo me-auto">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/isck_base.png' %}" alt="Iskonect">
                </a>
            </h1>
            <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li class="{% if current_page == 'index' %}active{% else %}inactive{% endif %}">
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li>
                    <a  href="{% url 'about' %}">About</a>
                </li>
                <li class="dropdown">
                    <a href="{% url 'service' %}">
                        <span>Services</span>
                        <i class="bi bi-chevron-down"></i>
                    </a>
                    <ul>
                        <li><a href="{% url 'service_faculty' %}">Faculty Services</a></li>
                        <li><a href="{% url 'service_student' %}">Student Services</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'event' %}">Events</a>
                </li>
                <li>
                    <a href="{% url 'announcement' %}">Announcements</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">Contact us</a>
                </li>
            </nav>
            <a href="{% url 'service' %}" class="get-started-btn">Get Started</a>
        </div>