{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{% static 'img/isck_concat-inverted.png' %}">
    <title>iSKONECT</title>

    {% include 'partials/_css.html' %}
</head>
<body>
    <header id="header" class="fixed-top">
        {% include 'partials/_topbar.html' %}
    </header>

    <section id="hero" class="d-flex justify-content-center align-items-center">
        <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
            <h1>Your One-Stop Portal<br>for all PUPQC e-Services</h1>
            <h2>Access all services in one click</h2>
            <a href="{% url 'service' %}" class="btn-get-started">Go to services</a>
        </div>
    </section>

    <main id="main">
        {% block iskonect  %}{% endblock  %}
    </main>

    {% include 'partials/_footer.html' %}

    {% include 'partials/_js.html' %}
</body>
</html>